{% extends 'auth/auth-base.html' %}
{% load static %}
{% block title %} Signup {% endblock %}


{% block body %}
                <form class="col-lg-12" id="sign_in" method="POST">
                    {% csrf_token %}
                    <h5 class="title">Register a new membership</h5>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input name="username" type="text" class="form-control">
                                <label class="form-label">Username</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input name="email" type="email" class="form-control">
                                <label class="form-label">Email Address</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input name="password" type="password" class="form-control">
                                <label class="form-label">Password</label>
                            </div>
                        </div>
                    <div>
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                        <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                    </div>
                    <div class="col-lg-12">
                        <button class="btn btn-success btn-lg btn-block mb-3" type="submit">Create Account</button>
                    </div>
                </form>
                <div class="col-lg-12 m-t-20">
                    <a href="{% url 'login' %}">You already have a membership?</a>
                </div>

{% endblock body %}
